<ion-header>
  <ion-toolbar>
    <ion-title>{{ current_product.name }}</ion-title>
        <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-button slot = "end" (click) = "order()">Order</ion-button>
    <ion-button slot = "end" (click)="deleteProduct()"> Delete Product
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4><ion-img [src] =  current_product.photoUrl ></ion-img></h4>
  <ion-item>
    <ion-range [(ngModel)]="total" min = "1" max = "100" color = "primary" step = "1" snap = "true" pin = "true">
      <ion-label slot= "start">1</ion-label>
      <ion-label slot = "end">100</ion-label>
    </ion-range>
  </ion-item>
  <ion-list>
    <ion-item>
      Price: {{ current_product.price }}
    </ion-item>
    <ion-item>
      Category: {{ current_product.category }}
    </ion-item>
    <ion-item>
      Photo: {{ current_product.photoUrl }}
    </ion-item>
    <ion-item class="item-text-wrap">
      Description: {{ current_product.description }}
    </ion-item>
    <ion-item class="item-text-wrap">
      UID: {{ current_product.uid }}
    </ion-item>
  </ion-list>
</ion-content>
