<ion-header>
  <ion-toolbar>
    <ion-title> Shopping Cart Detail </ion-title>
        <ion-buttons slot = "start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
      <ion-buttons slot = "end">
      <ion-button slot = "end" (click)="deleteOrderHelper()">Remove from cart</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      Product: {{ order.productName }}
   </ion-item>
    <ion-item>
       UID: {{ order.uid }}
    </ion-item>
    <ion-item>
       # Items: {{ order.numItems }}
    </ion-item>
    <ion-item>
       Total: ${{ order.total }}
    </ion-item>
    <ion-item>
    </ion-item>
  </ion-list>
</ion-content>

