<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button slot = "end" (click) = "order()">Checkout</ion-button>
<ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title>
      Shopping Cart 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let order of (orders | async)" (click)="goToOrder(order)">
    <ion-grid>
      <ion-row>
        <ion-col align-self: center>
          <div><h1>
           Product: {{order.productName}}
          </h1></div>
        </ion-col>
        <ion-col align-self: center>
          <div><h2>
           Quantity: {{order.numItems}}
          </h2></div>
        </ion-col>
        <ion-col align-self: center>
          <div><h2>
           Total: ${{order.total}}
          </h2></div>
        </ion-col>
      </ion-row>
    </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>