<ion-header>
  <ion-toolbar>
    <ion-title>Order List</ion-title>
        <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-item *ngFor="let order of (cart | async)">
    <ion-grid>
      <ion-row>
        <ion-col align-self: center>
          <div><h1>
           Quantity: {{order.total_quantity}}
          </h1></div>
        </ion-col>
        <ion-col align-self: center>
          <div><h2>
           Price: ${{order.total_price}}
          </h2></div>
        </ion-col>
        <ion-col align-self: center>
          <div><h2>
           Date: {{order.orderDate}}
          </h2></div>
        </ion-col>
      </ion-row>
    </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>