<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
<ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot = "end">
      <ion-button (click) = "openAddProductPage()">
        <ion-icon slot = "icon-only" name= "add-circle"></ion-icon>
      </ion-button>
      <ion-button (click)="login()" fill = "outline">
        login
      </ion-button>
      <ion-button (click)="logout()" fill = "outline">
        logout
      </ion-button>
    </ion-buttons>
    <ion-title color = "dark" size = "large">
     Gamecock Store
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h4><ion-img [src] = "imgFile"></ion-img></h4>
  <ion-list>
    <ion-item *ngFor="let product of (products | async)" (click)="goToProduct(product)">
    <ion-grid>
      <ion-row>
        <ion-col align-self: center>
          <div><h1>
            {{product.name}}
          </h1></div>
        </ion-col>
        <ion-col align-self: center>
          <div><h2>
            ${{product.price}}
          </h2></div>
        </ion-col>
        <ion-col align-self: center>
          <div><h2>
            {{product.category}}
          </h2></div>
        </ion-col>
        <ion-col align-self-end>
          <div><h3>
            <ion-thumbnail slot = "end">
              <ion-img [src] = "product.photoUrl" style="align-self: end;"></ion-img>
            </ion-thumbnail>
          </h3></div>
        </ion-col>
      </ion-row>
    </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>